<a href="https://colab.research.google.com/github/divyashriashokan/Prep_insta_Internship/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import math

In [12]:
df = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [13]:
df.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [14]:
df

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

### 1. Missing Values

Question: Are there any missing values in the dataset, and if so, how should they be handled for each indicator?

In [15]:
df.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [16]:
# Replacing null values in Age column with Average Age

age_avg = round(df.Age.mean(),0)
age_avg

39.0

In [17]:
df['Age'] = df.Age.fillna(age_avg)

In [21]:
#Replaced null values in Rating column with zero and rating can't be negative so replaced -1 with 0

df['Rating'] = df['Rating'].fillna(0)
df['Rating'] = df['Rating'].replace(-1.0,0)
df['Rating']

0     5.4
1     3.5
2     0.0
3     4.4
4     6.4
5     1.4
6     0.0
7     0.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    0.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    0.0
25    0.0
26    0.0
27    5.4
28    3.4
Name: Rating, dtype: float64

## 2. Data Types

  Question: What are the data types of each indicator, and do they align with their expected types (e.g., numerical, categorical)?


  Numerical: Columns Index, Age, Rating, Established, Salary fall under numerical data types
  
  Categorical: Location, Easy Apply fall under categorical data type

In [23]:
df.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

## `3. Outliers`


Question: Identify potential outliers in numerical indicators (e.g., Age, Salary, Rating). Should outliers be removed or adjusted?


Established column's mean is very less and there's a lot of outliers in that column as there as many values as -1. It needs to be changed as year cannot be -1. I have decided to replace that value with mean after changing the -1 value to null.

In [26]:
df[['Index','Age','Rating','Established']].describe()

           Index        Age     Rating  Established
count  29.000000  29.000000  29.000000    29.000000
mean   14.000000  39.034483   3.544828  1638.620690
std     8.514693  13.973145   2.643805   762.079599
min     0.000000  13.000000   0.000000    -1.000000
25%     7.000000  32.000000   0.000000  1935.000000
50%    14.000000  39.000000   4.000000  1984.000000
75%    21.000000  44.000000   5.400000  1999.000000
max    28.000000  66.000000   7.800000  2020.000000

In [56]:
df['Established'] = df['Established'].replace(-1,np.NaN)
df['Established']

0     1999.0
1     2002.0
2        NaN
3     1988.0
4     2002.0
5     1999.0
6        NaN
7        NaN
8        NaN
9        NaN
10    2008.0
11    2009.0
12    1999.0
13    2019.0
14    2020.0
15    1999.0
16    1984.0
17    1943.0
18    1954.0
19    1955.0
20    1944.0
21    1946.0
22    1988.0
23    1999.0
24    1987.0
25    1980.0
26    1934.0
27    1935.0
28    1932.0
Name: Established, dtype: float64

In [57]:
#Replacing null with mean year which is 1980

df['Established'] = df['Established'].fillna(round(df['Established'].mean(),0))

In [60]:
#Converting float to int

df['Established'] = df['Established'].apply(lambda x : int(x))

In [61]:
df

    Index   Age        Salary  Rating       Location  Established Easy Apply
0       0  44.0   44000-99000     5.4       India,In         1999       TRUE
1       1  66.0   55000-66000     3.5    New York,Ny         2002       TRUE
2       2  39.0   77000-89000     0.0    New York,Ny         1980         -1
3       3  64.0   44000-99000     4.4       India In         1988         -1
4       4  25.0   44000-99000     6.4  Australia Aus         2002         -1
5       5  44.0   77000-89000     1.4       India,In         1999       TRUE
6       6  21.0   44000-99000     0.0    New York,Ny         1980         -1
7       7  44.0   44000-99000     0.0  Australia Aus         1980         -1
8       8  35.0   44000-99000     5.4    New York,Ny         1980         -1
9       9  22.0   44000-99000     7.7       India,In         1980       TRUE
10     10  55.0   10000-49000     5.4       India,In         2008       TRUE
11     11  44.0   10000-49000     6.7       India,In         2009         -1
12     12  39.0   44000-99000     0.0       India,In         1999         -1
13     13  25.0   44000-99000     0.0  Australia Aus         2019       TRUE
14     14  66.0   44000-99000     4.0  Australia Aus         2020       TRUE
15     15  44.0  88000-101000     3.0  Australia Aus         1999         -1
16     16  19.0   19000-40000     4.5       India,In         1984         -1
17     17  39.0   44000-99000     5.3    New York,Ny         1943       TRUE
18     18  35.0   44000-99000     6.7    New York,Ny         1954       TRUE
19     19  32.0   44000-99000     3.3    New York,Ny         1955       TRUE
20     20  39.0   44000-99000     5.7    New York,Ny         1944       TRUE
21     21  35.0   44000-99000     5.0    New York,Ny         1946         -1
22     22  19.0   55000-66000     7.8    New York,Ny         1988       TRUE
23     23  39.0   44000-99000     2.4    New York,Ny         1999       TRUE
24     24  13.0   44000-99000     0.0    New York,Ny         1987         -1
25     25  55.0   44000-99000     0.0  Australia Aus         1980       TRUE
26     26  39.0   55000-66000     0.0       India,In         1934       TRUE
27     27  52.0   44000-99000     5.4       India,In         1935         -1
28     28  39.0   39000-88000     3.4  Australia Aus         1932         -1

## 4. Salary Formatting

> Question: Examine the format of the Salary column. Does it require any formatting or standardization for consistent analysis?

In [28]:
df.Salary.head()

0    $44k-$99k
1    $55k-$66k
2    $77k-$89k
3    $44k-$99k
4    $44k-$99k
Name: Salary, dtype: object

In [31]:
df['Salary'] = df['Salary'].str.replace('$','')
df['Salary'] = df['Salary'].str.replace('k','000')
df.Salary

<ipython-input-31-bae6383c7622>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Salary'] = df['Salary'].str.replace('$','')

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
26     55000-66000
27     44000-99000
28     39000-88000
Name: Salary, dtype: object

There is an outlier in salary column as 88000-101000 is the only value that is much higher than others

### 5. Location Standardization:

> Question: Check the consistency of location entries. Do they need standardization, and how can this be achieved?


Some records have space between the long form and short form so I replaced them with comma but it added a comma between new and York so I removed it again in another step

In [66]:
df['Location'] = df['Location'].str.replace(" ",",")
df['Location'] = df['Location'].str.replace("New,","New ")
df['Location']

0          India,In
1       New York,Ny
2       New York,Ny
3          India,In
4     Australia,Aus
5          India,In
6       New York,Ny
7     Australia,Aus
8       New York,Ny
9          India,In
10         India,In
11         India,In
12         India,In
13    Australia,Aus
14    Australia,Aus
15    Australia,Aus
16         India,In
17      New York,Ny
18      New York,Ny
19      New York,Ny
20      New York,Ny
21      New York,Ny
22      New York,Ny
23      New York,Ny
24      New York,Ny
25    Australia,Aus
26         India,In
27         India,In
28    Australia,Aus
Name: Location, dtype: object

In [67]:
df

    Index   Age        Salary  Rating       Location  Established Easy Apply
0       0  44.0   44000-99000     5.4       India,In         1999       TRUE
1       1  66.0   55000-66000     3.5    New York,Ny         2002       TRUE
2       2  39.0   77000-89000     0.0    New York,Ny         1980         -1
3       3  64.0   44000-99000     4.4       India,In         1988         -1
4       4  25.0   44000-99000     6.4  Australia,Aus         2002         -1
5       5  44.0   77000-89000     1.4       India,In         1999       TRUE
6       6  21.0   44000-99000     0.0    New York,Ny         1980         -1
7       7  44.0   44000-99000     0.0  Australia,Aus         1980         -1
8       8  35.0   44000-99000     5.4    New York,Ny         1980         -1
9       9  22.0   44000-99000     7.7       India,In         1980       TRUE
10     10  55.0   10000-49000     5.4       India,In         2008       TRUE
11     11  44.0   10000-49000     6.7       India,In         2009         -1
12     12  39.0   44000-99000     0.0       India,In         1999         -1
13     13  25.0   44000-99000     0.0  Australia,Aus         2019       TRUE
14     14  66.0   44000-99000     4.0  Australia,Aus         2020       TRUE
15     15  44.0  88000-101000     3.0  Australia,Aus         1999         -1
16     16  19.0   19000-40000     4.5       India,In         1984         -1
17     17  39.0   44000-99000     5.3    New York,Ny         1943       TRUE
18     18  35.0   44000-99000     6.7    New York,Ny         1954       TRUE
19     19  32.0   44000-99000     3.3    New York,Ny         1955       TRUE
20     20  39.0   44000-99000     5.7    New York,Ny         1944       TRUE
21     21  35.0   44000-99000     5.0    New York,Ny         1946         -1
22     22  19.0   55000-66000     7.8    New York,Ny         1988       TRUE
23     23  39.0   44000-99000     2.4    New York,Ny         1999       TRUE
24     24  13.0   44000-99000     0.0    New York,Ny         1987         -1
25     25  55.0   44000-99000     0.0  Australia,Aus         1980       TRUE
26     26  39.0   55000-66000     0.0       India,In         1934       TRUE
27     27  52.0   44000-99000     5.4       India,In         1935         -1
28     28  39.0   39000-88000     3.4  Australia,Aus         1932         -1

## 6. Established Column:
>Question: Explore the Established column. Are there any inconsistencies or anomalies that need to be addressed?

The column easy apply seems to contain boolean values. So I assume that -1 indicates FALSE value. So I replaced it with FALSE

In [72]:
df['Easy Apply'] = df['Easy Apply'].replace('-1','FALSE')
df['Easy Apply']

0      TRUE
1      TRUE
2     FALSE
3     FALSE
4     FALSE
5      TRUE
6     FALSE
7     FALSE
8     FALSE
9      TRUE
10     TRUE
11    FALSE
12    FALSE
13     TRUE
14     TRUE
15    FALSE
16    FALSE
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    FALSE
22     TRUE
23     TRUE
24    FALSE
25     TRUE
26     TRUE
27    FALSE
28    FALSE
Name: Easy Apply, dtype: object


## 7. Easy Apply Indicator:

>Question: Analyze the Easy Apply column. Does it contain boolean values or need transformation for better analysis?

Easy Apply column contains Boolean values in string literal. So I converted it into boolean type

In [74]:
df['Easy Apply'] = df['Easy Apply'].replace('TRUE',True)
df['Easy Apply'] = df['Easy Apply'].replace('FALSE',False)
df['Easy Apply'].dtype

dtype('bool')

### 8. Rating Range:
>Question: Investigate the range of values in the Rating column. Does it fall within expected rating scales, and how should outliers be treated?

In [76]:
df['Rating'].describe()

count    29.000000
mean      3.544828
std       2.643805
min       0.000000
25%       0.000000
50%       4.000000
75%       5.400000
max       7.800000
Name: Rating, dtype: float64

Since I replaced the negative values with 0 the min, quartile and mean values were influenced by it so I replaced the zero with NaN value to find the mean. Assumption here is that the rating scale is between 0-10.

In [81]:
new_df = df['Rating'].replace(0.0,np.NaN)
new_df.describe()
rating_mean = new_df.mean()

In [83]:
df['Rating'] = df['Rating'].replace(0,rating_mean)
df['Rating'] = df['Rating'].apply(lambda x : round(x,1))

# After replacing with mean, the range of ratings is displayed
df['Rating'].describe()

count    29.000000
mean      4.895238
std       1.425401
min       1.400000
25%       4.400000
50%       4.895238
75%       5.400000
max       7.800000
Name: Rating, dtype: float64

## 9. Age Distribution:
>Question: Check the distribution of values in the Age column. Are there any unusual entries, and how might they impact analysis?

There are'nt any unusual entries but most of the ages seems to be middle age i.e., b/w 30-60 but there are some outliers which are below 20 and above 60. It doesn't seem to affect the statistics that much

In [97]:
df['Age']

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
26    39.0
27    52.0
28    39.0
Name: Age, dtype: float64

In [90]:
df['Age'].describe()

count    29.000000
mean     39.034483
std      13.973145
min      13.000000
25%      32.000000
50%      39.000000
75%      44.000000
max      66.000000
Name: Age, dtype: float64

In [96]:
print("Median = " ,df['Age'].median())
print("Mode = " ,df['Age'].mode())

Median =  39.0
Mode =  0    39.0
Name: Age, dtype: float64

## 10. Handling Special Characters:
>Question: Examine all text-based columns (e.g., Location). Are there special characters or inconsistencies that need cleaning?

>There aren't any inconsistencies since I've already cleaned those columns

In [100]:
df[['Salary','Location']]

          Salary       Location
0    44000-99000       India,In
1    55000-66000    New York,Ny
2    77000-89000    New York,Ny
3    44000-99000       India,In
4    44000-99000  Australia,Aus
5    77000-89000       India,In
6    44000-99000    New York,Ny
7    44000-99000  Australia,Aus
8    44000-99000    New York,Ny
9    44000-99000       India,In
10   10000-49000       India,In
11   10000-49000       India,In
12   44000-99000       India,In
13   44000-99000  Australia,Aus
14   44000-99000  Australia,Aus
15  88000-101000  Australia,Aus
16   19000-40000       India,In
17   44000-99000    New York,Ny
18   44000-99000    New York,Ny
19   44000-99000    New York,Ny
20   44000-99000    New York,Ny
21   44000-99000    New York,Ny
22   55000-66000    New York,Ny
23   44000-99000    New York,Ny
24   44000-99000    New York,Ny
25   44000-99000  Australia,Aus
26   55000-66000       India,In
27   44000-99000       India,In
28   39000-88000  Australia,Aus

### 11. Data Integrity:
>Question: Ensure data integrity by cross-referencing entries. For instance, does the Established column align with the Age column?

>My assumption is that in this dataset Age refers to the age of a person applying to a company that was established in the given year. So I assume there is no direct correlation between those. Since I've handled values in both columns that were inconsistent now those columns are complete.

In [105]:
df

    Index   Age        Salary  Rating       Location  Established  Easy Apply
0       0  44.0   44000-99000     5.4       India,In         1999        True
1       1  66.0   55000-66000     3.5    New York,Ny         2002        True
2       2  39.0   77000-89000     4.9    New York,Ny         1980       False
3       3  64.0   44000-99000     4.4       India,In         1988       False
4       4  25.0   44000-99000     6.4  Australia,Aus         2002       False
5       5  44.0   77000-89000     1.4       India,In         1999        True
6       6  21.0   44000-99000     4.9    New York,Ny         1980       False
7       7  44.0   44000-99000     4.9  Australia,Aus         1980       False
8       8  35.0   44000-99000     5.4    New York,Ny         1980       False
9       9  22.0   44000-99000     7.7       India,In         1980        True
10     10  55.0   10000-49000     5.4       India,In         2008        True
11     11  44.0   10000-49000     6.7       India,In         2009       False
12     12  39.0   44000-99000     4.9       India,In         1999       False
13     13  25.0   44000-99000     4.9  Australia,Aus         2019        True
14     14  66.0   44000-99000     4.0  Australia,Aus         2020        True
15     15  44.0  88000-101000     3.0  Australia,Aus         1999       False
16     16  19.0   19000-40000     4.5       India,In         1984       False
17     17  39.0   44000-99000     5.3    New York,Ny         1943        True
18     18  35.0   44000-99000     6.7    New York,Ny         1954        True
19     19  32.0   44000-99000     3.3    New York,Ny         1955        True
20     20  39.0   44000-99000     5.7    New York,Ny         1944        True
21     21  35.0   44000-99000     5.0    New York,Ny         1946       False
22     22  19.0   55000-66000     7.8    New York,Ny         1988        True
23     23  39.0   44000-99000     2.4    New York,Ny         1999        True
24     24  13.0   44000-99000     4.9    New York,Ny         1987       False
25     25  55.0   44000-99000     4.9  Australia,Aus         1980        True
26     26  39.0   55000-66000     4.9       India,In         1934        True
27     27  52.0   44000-99000     5.4       India,In         1935       False
28     28  39.0   39000-88000     3.4  Australia,Aus         1932       False

## 12. Easy Apply Transformation:
>Question: If the Easy Apply column contains non-boolean values, how can it be transformed into a usable format?

Since I have already transformed the string values into boolean values now the type of the column has been changed to boolean

In [106]:
df['Easy Apply'].dtype

dtype('bool')

## 13. Location Accuracy:
>Question: Assess the accuracy of location entries. Are there misspelled or ambiguous locations that require correction?

In [107]:
df['Location']

# There are no misspelled or ambiguous locations that require correction in this dataset

0          India,In
1       New York,Ny
2       New York,Ny
3          India,In
4     Australia,Aus
5          India,In
6       New York,Ny
7     Australia,Aus
8       New York,Ny
9          India,In
10         India,In
11         India,In
12         India,In
13    Australia,Aus
14    Australia,Aus
15    Australia,Aus
16         India,In
17      New York,Ny
18      New York,Ny
19      New York,Ny
20      New York,Ny
21      New York,Ny
22      New York,Ny
23      New York,Ny
24      New York,Ny
25    Australia,Aus
26         India,In
27         India,In
28    Australia,Aus
Name: Location, dtype: object

##14. Handling Categorical Data:
>Question: For categorical indicators, consider encoding or transforming them into a format suitable for analysis.

> I have split the column Location to Location and location code for easier analysis

In [112]:
df[['Location','Code']] = df['Location'].str.split(',',expand = True)

In [115]:
df

    Index   Age        Salary  Rating   Location  Established  Easy Apply Code
0       0  44.0   44000-99000     5.4      India         1999        True   In
1       1  66.0   55000-66000     3.5   New York         2002        True   Ny
2       2  39.0   77000-89000     4.9   New York         1980       False   Ny
3       3  64.0   44000-99000     4.4      India         1988       False   In
4       4  25.0   44000-99000     6.4  Australia         2002       False  Aus
5       5  44.0   77000-89000     1.4      India         1999        True   In
6       6  21.0   44000-99000     4.9   New York         1980       False   Ny
7       7  44.0   44000-99000     4.9  Australia         1980       False  Aus
8       8  35.0   44000-99000     5.4   New York         1980       False   Ny
9       9  22.0   44000-99000     7.7      India         1980        True   In
10     10  55.0   10000-49000     5.4      India         2008        True   In
11     11  44.0   10000-49000     6.7      India         2009       False   In
12     12  39.0   44000-99000     4.9      India         1999       False   In
13     13  25.0   44000-99000     4.9  Australia         2019        True  Aus
14     14  66.0   44000-99000     4.0  Australia         2020        True  Aus
15     15  44.0  88000-101000     3.0  Australia         1999       False  Aus
16     16  19.0   19000-40000     4.5      India         1984       False   In
17     17  39.0   44000-99000     5.3   New York         1943        True   Ny
18     18  35.0   44000-99000     6.7   New York         1954        True   Ny
19     19  32.0   44000-99000     3.3   New York         1955        True   Ny
20     20  39.0   44000-99000     5.7   New York         1944        True   Ny
21     21  35.0   44000-99000     5.0   New York         1946       False   Ny
22     22  19.0   55000-66000     7.8   New York         1988        True   Ny
23     23  39.0   44000-99000     2.4   New York         1999        True   Ny
24     24  13.0   44000-99000     4.9   New York         1987       False   Ny
25     25  55.0   44000-99000     4.9  Australia         1980        True  Aus
26     26  39.0   55000-66000     4.9      India         1934        True   In
27     27  52.0   44000-99000     5.4      India         1935       False   In
28     28  39.0   39000-88000     3.4  Australia         1932       False  Aus

## 15. Consistent Rating Scale:
>Question: Ensure a consistent rating scale in the Rating column. Should it be normalized or adjusted for uniform analysis?
> The rating column is normalized. I have replaced the negative values with the mean

In [116]:
df

    Index   Age        Salary  Rating   Location  Established  Easy Apply Code
0       0  44.0   44000-99000     5.4      India         1999        True   In
1       1  66.0   55000-66000     3.5   New York         2002        True   Ny
2       2  39.0   77000-89000     4.9   New York         1980       False   Ny
3       3  64.0   44000-99000     4.4      India         1988       False   In
4       4  25.0   44000-99000     6.4  Australia         2002       False  Aus
5       5  44.0   77000-89000     1.4      India         1999        True   In
6       6  21.0   44000-99000     4.9   New York         1980       False   Ny
7       7  44.0   44000-99000     4.9  Australia         1980       False  Aus
8       8  35.0   44000-99000     5.4   New York         1980       False   Ny
9       9  22.0   44000-99000     7.7      India         1980        True   In
10     10  55.0   10000-49000     5.4      India         2008        True   In
11     11  44.0   10000-49000     6.7      India         2009       False   In
12     12  39.0   44000-99000     4.9      India         1999       False   In
13     13  25.0   44000-99000     4.9  Australia         2019        True  Aus
14     14  66.0   44000-99000     4.0  Australia         2020        True  Aus
15     15  44.0  88000-101000     3.0  Australia         1999       False  Aus
16     16  19.0   19000-40000     4.5      India         1984       False   In
17     17  39.0   44000-99000     5.3   New York         1943        True   Ny
18     18  35.0   44000-99000     6.7   New York         1954        True   Ny
19     19  32.0   44000-99000     3.3   New York         1955        True   Ny
20     20  39.0   44000-99000     5.7   New York         1944        True   Ny
21     21  35.0   44000-99000     5.0   New York         1946       False   Ny
22     22  19.0   55000-66000     7.8   New York         1988        True   Ny
23     23  39.0   44000-99000     2.4   New York         1999        True   Ny
24     24  13.0   44000-99000     4.9   New York         1987       False   Ny
25     25  55.0   44000-99000     4.9  Australia         1980        True  Aus
26     26  39.0   55000-66000     4.9      India         1934        True   In
27     27  52.0   44000-99000     5.4      India         1935       False   In
28     28  39.0   39000-88000     3.4  Australia         1932       False  Aus